@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

.glass-card {
  @apply bg-white/80 dark:bg-slate-900/70 backdrop-blur shadow-soft rounded-card border border-slate-100 dark:border-slate-800;
}

.scroll-thin {
  scrollbar-width: thin;
}

.scroll-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scroll-thin::-webkit-scrollbar-thumb {
  @apply bg-slate-300 dark:bg-slate-700 rounded-full;
}


